.modal-backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000080;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    z-index: 1000;
}

.modal-backdrop.show{
    opacity: 1;
    visibility: visible;
}



.modal-content{
    position: relative;
    background: white;
    padding: 40px;
    border-radius: 16px;
    width: 500px;
    height: 285px;
    transform: translateY(-50px);
    transition: transform 0.5s ease;
    z-index: 1001;
}

.modal-backdrop.show .modal-content{
    transform: translateY(0);
}

.modal-close-button{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 0;
    outline: none;
}

.modal-close-button::before,
.modal-close-button::after{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 2px;
    background-color: #333;
}

.modal-close-button::before{
    transform: translate(-50%, -50%) rotate(45deg)
}

.modal-close-button::after{
    transform: translate(-50%, -50%) rotate(-45deg)
}

.social-button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55px;
    width: 220px;
    border-radius: 55px;
    background: black;
    cursor: pointer;
    transition: 0.3s;
    margin-right: 2%;
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
}

.social.telegram{
    height: 55px;
    content: url(/public/icons/telegram-fill-svgrepo-com.svg);
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
    scale: 0.6;
    margin: -2%;
}

.social.instagram{
    height: 55px;
    content: url(/public/icons/instagram-with-circle-svgrepo-com.svg);
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
    scale: 0.6;
    margin: -2%;
}

.social-button:hover{
    background: #4824ff;
    filter: drop-shadow(0px 0px 35px #4824);
    color: #eeebff;
}
