body{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 0;
    font-family: 'Onest';

}


.welcom-block {
    height: 700px;
    display: flex;
    place-items: center;
}

.first-block{
    width: 50%;
}
.welcom-block h1{
    font-size: 52px;
}

.welcom-block h2{
    font-size: 42px;
}
    .welcom-block h3{
    font-size: 30px;
    font-weight: 300;
}

